<div class="container">

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h1 class="page-header text-center">Todo List</h1>
      <h3>Create A Task:</h3>
      <form action="/api/create" method="POST">
        <div class="input-group ">
          <input type="text" class="form-control" placeholder="Enter here..." id="task" autofocus>
          <span class="input-group-btn">
            <button id="create" class="btn btn-primary" type="button" name="submit">Submit</button>
          </span>
        </div>
      </form>
    </div>
  </div>

  {{#if tasks}}
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        
        <hr>
        <h3>Tasks To Complete:</h3>
        
        {{#each tasks}}
          {{#unless completed}}
            <div class="task clearfix">
              <span>{{task}}</span>
              <div class="btn-group pull-right" role="group" aria-label="...">
                <button data-id="{{_id}}" type="button" class="btn btn-success complete">Completed</button>
                <button data-id="{{_id}}" type="button" class="btn btn-default edit">Edit</button>
                <button data-id="{{_id}}" type="button" class="btn btn-danger delete">Delete</button>
              </div>
            </div>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <hr>
        <h3>Completed Tasks:</h3>
        {{#each tasks}}
          {{#if completed}}
            <div class="task clearfix">
              <span>{{task}}</span>
              <div class="btn-group pull-right" role="group" aria-label="...">
                <button data-id="{{_id}}" type="button" class="btn btn-danger delcomplete">Delete</button>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}

</div>